body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(255, 0, 157);
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[readonly] {
    background-color: #f0f0f0;
  }
  